body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokeList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
}

.pokemon-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.pokeman {
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.listName {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1em;
}

.home-container {
}

.home-button{
  background-color: rgb(242, 237, 237);
  border-radius: 8px;
  cursor: pointer;
}

.shiny-button{
  background-color: rgb(242, 237, 237);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.navBar{;
}